# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore intellij files
.idea

# Ignore vscode files
.vscode
bin

# Ignore Visual Studio files
.vs
/EventDeliverySystem/src/main/java/Distributed_System_part1/.vs/
